@charset "UTF-8";

#img {
    width: 50px;
}

#borda {
    border-radius: 5px;
}


td {
    font-size: 9pt;
    text-align: center;
}

th {
    text-align: center;
}

.direita {
    text-align: left;
}

.liberado {
    background-color: rgb(29, 131, 72);
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-size: 8pt;
    font-weight: bolder;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
    padding-left: 2px;
    padding-right: 2px;
}

.bloqueado {
    background-color: rgb(192, 57, 43);
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-size: 8pt;
    font-weight: bolder;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
    padding-left: 2px;
    padding-right: 2px;
}

p {
    font-size: 0.6em;
}
